<!-- Carousel wrapper -->
<div id="carouselBasicExample" class="carousel slide carousel-fade" data-mdb-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-indicators">
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="0"
      class="active"
      aria-current="true"
      aria-label="Slide 1"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="1"
      aria-label="Slide 2"
    ></button>
    <button
      type="button"
      data-mdb-target="#carouselBasicExample"
      data-mdb-slide-to="2"
      aria-label="Slide 3"
    ></button>
  </div>

  <!-- Inner -->
  <div class="carousel-inner">
   {% for block in section.blocks  %}  
    <div class="carousel-item active">
      {% if block.settings.slider_img !=null %}
        <img class="d-block w-100" src="{{block.settings.slider_img | img_url:'original'}}" alt="{{block.settings.slider_img.alt}}">
      {% endif %}
      </div>
    {% endfor %}
    
  <!-- Inner -->

  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- Carousel wrapper -->
{% schema %}
  {
    "name": "Slider",
    "settings":[], 
    "blocks":[
      {
        "type":"slider",
       "name":"Slide",
        "settings":[
          {
            "type":"image_picker", 
            "id":"slider_img",
            "label":"Slider image"
          }
        ]
      }
    ],
    "presets":[
      {
        "name":"Slide show",
        "category":"Slider"
      }
    ]
  }
{% endschema %}
