<div class="list-collection-template">
  <div class="container">
    <div class="header">
      <h2>{{page_title}}</h2>
    </div>
    <div class="main-collectons my-5">
      <div class="row">
        {% for collection in collections %}
          {% unless collection.handle contains 'frontpage' %}
            <div class="col-md-3">
              <div class="card">
                <div class="card-body">
                  <div class="collection-img">
                    <img src="{{collection.products.first.featured_image |  img_url }}" width="100%" alt="{{collection.title |  escape}}" >
                  </div>
                  </div>
                  <div class="card-footer">
                    <h5>{{collecton.title |  link_to: collection.url}} </h5>
                  </div>
                  </div>
                  </div>
          {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>